@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
a,
p,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.25px;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    vertical-align: top;
}

a,
a:hover {
    text-decoration: none;
}

li,
ol {
    list-style: none;
}

.Inner {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

/*  초기셋팅 */
#wrap {
    width: 100%;
    height: auto;
}

.header {
    height: 68px;
    border-bottom: 1px solid #cecece;
    transition: 1s;
    z-index: 1000;
    position: relative;
}

.header_Inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.fixed-header {
    width: 100%;
    position: fixed;
    background-color: rgba(34, 34, 34, 0.8);
    transition: 0.5s;
    border-bottom: none;
}

.logo>a {
    display: block;
    width: 112px;
    height: 28px;
    background-image: url(../imges/logo_b.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.header.fixed-header .logo>a {
    background-image: url(../imges/logo_w.png);
}

.nav_inner {
    display: flex;
}

.nav_inner li {
    font-size: 0.8rem;
    padding: 0 14px;
    height: 20px;
}

.nav_inner li a {
    color: #161616;
}

.header.fixed-header .nav_inner li a {
    color: #f8f8fa;
}

.move_btn {
    display: block;
    cursor: pointer;
    width: 24px;
    height: 20px;
    position: relative;
}

.header.fixed-header .move_btn>div,
.header.fixed-header .move_btn::before,
.header.fixed-header .move_btn::after {
    background-color: #f8f8fa;
}

.move_btn>div {
    width: 24px;
    height: 2px;
    background-color: #222222;
    margin: 5px 0;
    transition: 0.5s;
}

.move_btn::before,
.move_btn::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: #222222;
    position: relative;
    transition: 0.5s;
}

.move_btn.active>div {
    opacity: 0;
    transition: 0.5s;
}

.move_btn.active::before {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}

.move_btn.active::after {
    transform: translateY(-6px) rotate(-45deg);
    transition: 0.5s;
}

.fullmeun {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 100;
}

.fullmeun.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.fullmeun .Inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
}

.dep.tit {
    padding: 14px 0;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

.dep.tit::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background-color: #cecece;
}
.dep ul{
    padding: 14px 0;
}
.dep>ul>li {
    padding: 4px 0;
    font-size: 0.875em;
}

.dep>ul>li>a {
    color: #222;
    transition: 0.5s;
    font-weight: 300;
}

.dep>ul>li>a:hover {
    text-decoration: underline;
}

.vis_slide {
    width: 100%;
    position: relative;
}

.swiper.mySwiper.main {
    position: relative;
}

.swiper_control {
    width: 370px;
    height: 60px;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: -60px;
    z-index: 10;
    padding: 10px 20px;
}

.slide_btn {
    display: flex;
    align-items: center;
}

.slide_btn .swiper-button-prev,
.slide_btn .swiper-button-next {
    width: 34px;
    height: 40px;
}

.slide_btn .swiper-button-prev {
    background-image: url(../imges/left_arrow.png);
    background-position: center center;
    background-repeat: no-repeat;

}

.slide_btn .swiper-button-next {
    background-image: url(../imges/right_arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.slide_btn .btn_pause {
    background-image: url(../imges/stop.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 28px;
    height: 40px;
}

.slide_btn .btn_pause.on {
    background-image: url(../imges/play.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.progressbar .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 154px;
    height: 2px;
    position: relative;
}

.progressbar .swiper-pagination-progressbar {
    background-color: #d3d3d3;
}

.progressbar .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #222;
}

.count .swiper-pagination-fraction.swiper-pagination-horizontal {
    color: #d3d3d3;
    letter-spacing: -0.5px;
    font-size: 14px;
}

.count .swiper-pagination-current {
    color: #222;
}

.slide_wrapper {
    display: flex;
}

.tit_wrapper {
    width: 30%;
    background-color: #F8F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text>p {
    font-size: 1.125rem;
    color: #222;
    font-weight: 100;
}

.slide-text>a {
    font-size: 1rem;
    color: #222;
    font-weight: 100;
}

.slide-text .tit,
.tit {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 42px;
    padding: 12px 0 20px 0;
    letter-spacing: -1px;
}

.img_wrapper {
    width: 70%;
}

@media (max-width: 1024px) {
    .header.fixed-header {
        background-color: #222;
    }
    nav {
        display: none;
    }

    .slide_wrapper {
        display: block;
    }
    .img_wrapper {
        width: 100%;
    }
    .slide_btn,
    .progressbar {
        display: none;
    }

    .tit_wrapper {
        position: absolute;
        height: 50%;
        width: 40%;
        left: 4%;
        top: 60%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        overflow: hidden;
    }

    .slide-text {
        padding: 14px;
    }

    .slide-text .tit {
        font-size: 1.6rem;
        line-height: 32px;
        padding: 6px 0 14px 0;
    }

    .swiper_control {
        left: 4%;
        width: auto;
        height: auto;
    }

    .fullmeun .Inner {
        padding: 0 20px;
        overflow: scroll;
        height: 100vh;
        display: block;
    }
    .dep ul{
        display: none;
    }
    .Depth1.on > ul{
        display: block;
    }
    .dep.tit{
        position: relative;
        letter-spacing: 0.25px;
    }
    .dep.tit::before{
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        background-image: url(../imges/low_arrow.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .dep.tit::after{
        bottom: 0;
    }
    .dep>ul>li{
        padding: 10px 0;
    }
}
@media (max-width: 768px) {
    img{
        height: 100%;
    }
    .img_wrapper{
        height: 100%;
    }
    .slide_wrapper{
        height: 700px;
    }
    .tit_wrapper{
        height: 40%;
        width: 60%;
        left: 4%;
        top: 70%;
        display: block;
    }
    .slide-text{
        padding: 0;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 100%;
    }
}
@media (max-width: 480px) {
    img{
        height: 100%;
    }
    .img_wrapper{
        height: 100%;
    }
    .slide_wrapper{
        height: 480px;
    }
    .tit_wrapper{
        height: 40%;
        width: 90%;
        left: 4%;
        top: 70%;
        display: block;
    }
    .slide-text>p{
        font-size: 1rem;
    }
    .slide-text{
        line-height: 22px;
    }
}

/* item list start */
.best-item {
    padding: 60px 0;
}

.item-tit .tit {
    padding: 0;
}

.item-subtit {
    padding-top: 12px;
    font-weight: 100;
    font-size: 1.125rem;
}

.item-list {
    padding: 24px 0 60px 0;
}

.item-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-list ul li {
    width: calc(100%/4 - 10px);
    box-sizing: border-box;
    overflow: hidden;
}

.item-content {
    padding: 14px 0;
}

.pries {
    font-size: 1.125rem;
    font-weight: bold;
}

.item-title {
    word-wrap: break-word;
    white-space: nowrap;
    padding-bottom: 12px;
    font-size: 1rem;
    font-weight: 300;
}

.item-review {
    display: flex;
}

.item-review p {
    color: #222;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: -0.5px;
}

.item-review .icon {
    width: 4px;
    height: 4px;
    display: inline-block;
}

.item-review .review {
    position: relative;
    padding-left: 20px;
}

.item-review .review::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 2px;
    height: 2px;
    background-color: #222;
    border-radius: 50%;
}
@media (max-width: 1024px) {
    .item-list ul li{
        width: calc(100%/2 - 10px);
    }
    .item-list {
        padding: 24px 0 0 0;
    }
}
/* category start */
.category-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.category-list {
    width: 30%;
}

.tab-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-content ul li {
    width: calc(100%/4 - 10px);
    padding-bottom: 24px;
    box-sizing: border-box;
}

.category-list ul li:first-child {
    padding-top: 0;
}

.category-list ul li {
    padding: 8px 0;
    font-size: 1.125rem;
    color: #777777;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.category-list ul li.current {
    font-weight: 700;
    color: #222;
}

.category-container .tab-content {
    display: none;
    transition: 0.5s;
}

.category-container .tab-content.current {
    display: block;
    transition: 0.5s;
}
@media (max-width: 1024px) {
    .category-wrap{
        flex-direction: column;
        padding-top: 0;
    }
    .tab-content ul li{
        width: calc(100%/2 - 10px);
        overflow: hidden;
    }
    .category-list{
        width: 100%;
        overflow-x: scroll;
    }
    .category-list ul{
        display: flex;
        padding: 12px 0;
    }
    .category-list ul li{
        padding: 10px;
        transition: none;
    }
    .category-list ul li:first-child{
        padding-left: 0;
        padding-top: 10px;
    }
    .category-list ul li.current{
        font-weight: 500;
    }
    .tab-content ul li:nth-child(n+5):nth-child(-n+8){
        display: none;
    }
    
}
/* biz start */

.biz {
    margin: 60px 0;
    padding: 60px 0;
    background-color: #F0F0F0;
}

.biz-inner {
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.biz-bg{
    display: flex;
    align-items: center;
}
.item-btn {
    padding-top: 24px;
}

.item-btn a {
    width: 230px;
    display: block;
    border: 1px solid #ACACAC;
    text-align: center;
    line-height: 50px;
    margin-bottom: 12px;
    color: #222;
    font-size: 0.895rem;
}
@media (max-width: 768px){
    .biz-inner{
        flex-direction: column;
    }
    .biz-bg{
        padding-top: 50px;
    }
}
@media (max-width: 375px){
    .dn{
        display: none;
    }
}

.riview-warrpy {
    padding: 80px 0;
}

.riview-slide-btn {
    display: flex;
    padding: 8px 0 24px 0;
}

.riview.swiper-button-prev,
.riview.swiper-button-next {
    width: 38px;
    height: 38px;
    padding-right: 8px;
}

.riview.swiper-button-prev>img,
.riview.swiper-button-next>img {
    width: auto;
    height: 100%;
}

.swiper.mySwiper.riview {
    overflow: visible;
}

.swiper-container .swiper-slide.swiper-slide-active .img-wrapper .bottom,
.swiper-container .swiper-slide.swiper-slide-active .img-wrapper .sns-wrap .top {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .top {
    position: absolute;
    background-color: #f8f8fa;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}

.swiper-container .swiper-slide .img-wrapper .bottom {
    height: auto;
    background-color: #f8f8fa;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.swiper-container .swiper-slide .img-wrapper .bottom .bt-text-wrap {
    padding: 18px 20px;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .top .top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 4px 24px;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .top .top-wrap .profile,
.swiper-container .swiper-slide .img-wrapper .sns-wrap .details {
    display: flex;
    align-items: center;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .details .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #222;
    display: block;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .details .dot:nth-child(2) {
    margin: 0 4px;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .top .profile>span {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #222;
    border-radius: 50%;
}

.swiper-container .swiper-slide .img-wrapper .sns-wrap .top .profile>p {
    padding-left: 8px;
    color: #222;
    font-size: 1rem;
}

.review-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.875rem;
}

.review-top {
    position: relative;
}

.review-top:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    left: 0;
    bottom: 0;
}

.text-wrap {
    display: flex;
    justify-content: space-between;
    padding: 4px 0 12px 0;
    position: relative;
}

.text-wrap .day {
    font-weight: 400;
}

.text-wrap::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    left: 0;
    bottom: 0;
}

.star>span {
    color: rgb(220, 79, 79);
}

.star .total {
    color: #222;
    padding: 0 6px;
    font-size: 0.75rem;
}

.review-top,
.text-wrap>p {
    color: #222;
}

.item-name {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 0;
}

.item-name .count {
    padding: 0 4px;
}

.text-icom {
    padding: 0 4px;
    line-height: 17px;
}

.item-name p,
.review-bottom p {
    font-size: 0.875rem;
}

.review-bottom {
    padding: 16px 0 28px 0;
}
@media (max-width: 1024px){
    .riview-warrpy{
        padding-top: 0;
        padding-bottom: 80px;
    }
}
/*footer start*/

.footer-Inner {
    width: 100%;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-list-wrap {
    width: calc(100%/4);
    padding: 100px 40px;
    border-right: 1px solid #8E8E8E;
    box-sizing: border-box;
    background-color: #E8E8E8;
}

.footer-list-tit {
    font-size: 1.425rem;
    font-weight: bold;
    letter-spacing: 0.25px;
    color: #222;
    padding-bottom: 24px;
    display: block;
}

.footer-list-wrap ul li {
    padding: 8px 0;
    white-space: nowrap;
}

.footer-list-wrap ul li a {
    font-size: 1rem;
    color: #222;
    font-weight: 200;
}

.footer-list-wrap ul li a:hover {
    text-decoration: underline;
}

.footer-bottom-content {
    background-color: #E8E8E8;
    border-top: 1px solid #8E8E8E;
    display: flex;
    align-items: baseline;
    padding: 40px 20px;
}

.footer-bottom-content>div {
    width: calc(100%/3);
    padding: 0 20px;
}

.footer-bottom-content .contant,
.footer-bottom-content .info {
    width: 20%;
}

.contant>p {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.25px;
}

.info .num {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.25px;
    display: block;
    padding-bottom: 24px;
}

.info ul li {
    padding: 4px 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.footer-sns {
    padding-bottom: 24px;
}

.footer-sns ul {
    display: flex;
}

.footer-sns ul li:first-child {
    margin-left: 0;
}

.footer-sns ul li {
    margin: 0 4px;
}

.footer-sns ul li a {
    display: block;
    width: 28px;
    height: 28px;
}

.company .com-name {
    display: block;
}

.company>p {
    display: inline-block;
    padding: 2px;
    font-size: 0.9rem;
}

.privacy {
    padding: 12px 0;
}

.privacy>a {
    font-size: 0.875rem;
    color: #000;
}

.copy p {
    font-size: 0.875rem;
    font-weight: 100;
}

@media (max-width: 1024px) {
    .footer-list-wrap{
        width: calc(100%/2);
        padding: 60px 20px;
    }
    .footer-list-wrap:nth-child(n+1):nth-child(-n+2){
        border-bottom: 1px solid #8E8E8E;
    }
    .footer-list-wrap ul li{
        padding: 4px 0;
        white-space: normal;
    }
    .footer-list-tit{
        font-size: 1.25rem;
    }
}
@media (max-width: 768px){
    .footer-bottom-content>div{
        width: 100%;
        padding: 14px 0;
    }
    .footer-bottom-content{
        flex-direction: column;
    }
    .footer-bottom-content .contant, .footer-bottom-content .info{
        width: 100%;
    }
    .info .num, .footer-sns{
        padding-bottom: 0;
    }
}
@media (max-width: 375px) {
    .footer-list-wrap{
        padding: 30px 20px;
    }
}